/* body {
  background: url(./mixed-weather-gif.gif)
  no-repeat center fixed;
  background-size: cover;
} */
.card {
  border: 0px;
}
h1 {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #205975;
  color: #ffffff;
  text-align: center;
}

.clear {
  background: rgb(248, 112, 78);
  border-radius: 20px;
  font-weight: bold;
  padding: 3.5px;
  text-decoration: none;
}
.clear a {
  text-decoration: none;
}

input[type="text"] {
  width: 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.col-4 {
  background-color: #0624330c;
}
button {
  background-color: Transparent;
  background-repeat: no-repeat;
  outline-style: solid;
  outline-color: #205975;
  opacity: 0.8;
  width: 55%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin-top: 1em;
  font-weight: bold;
}
button:hover {
  background-color: #aacee0;
  color: #ffffff;
}
/* When the input field gets focus, change its width to 100% */
input[type="text"]:focus {
  width: 32%;
}
/* UV Classes */
.low {
  background-color: green;
  width: 7em;
}
.mod {
  background-color: yellow;
  width: 7em;
}
.high {
  background-color: orange;
  width: 7em;
}
.very_high {
  background-color: red;
  width: 7em;
}
.extreme {
  background-color: purple;
  width: 7em;
}

.card5Day {
  width: 125px;
  background-color: #aacee0;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
  margin: 10px;
}
